section{
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

img {
  border-radius: 50%;
  border: 4px solid #80808041;
  margin-right: 0.5em;
}

.content i{
  font-size: larger;
}

.deleteForm button {
  outline: none;
  border: none;
  background: transparent;
}

.createdAt{
  font-size: smaller;
  font-weight: 600;
}


#scrollToTopButton {
  display: none; /* Hide the button by default */
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #555555c0;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#scrollToTopButton:hover {
  background-color: #333;
}